html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Cambiado de 97.5vh a 100vh */
  width: 100%;
  overflow: hidden; /* Para evitar scroll innecesario */
}

  
  .left-section {
    width: 50%;
    background-color: var(--light-blue-principal);
    padding: 40px;
    text-align: center;
    color: white;
    height: 100%; 
    margin-left: -10px; 
  }
  
  .left-section .title-left-section {
    font: var(--title-style);
    margin-bottom: 10px;
    margin-top: 105px;
  }

  .left-section p{
    font: var(--text-style)
  }
  
  .left-section img {
    max-width: 300px;
    margin-top: 30px;
  }
  
  .right-section {
    width: 50%;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .right-section .welcome-title {
    font: var(--title-style);
    color: var(--light-blue-principal);
    margin-bottom: 150px;
    text-align: center;
    margin-top: -150px;
  }  
  
  .right-section .label-form {
    display: block;
    font: var(--text-style);
    color: var(--background-color);
    margin-bottom: 5px;
  }
  
  .right-section input {
    width: 400px;
    background: var(--second-elements-color);
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid var(--light-blue-principal);
    border-radius: 4px;
  }
  
  .forgot-password {
    font: var(--text-style);
    color: var(--light-blue-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
    text-align: end;
  }
  
  .button-standar {
    background-color: var(--light-blue-principal);
  }

  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .button-standar:hover{
    background: var(--light-blue-principal-hover);
  }

  .cont-button{
    display: flex;
    align-items: center;
    justify-content: center;
  }