<div class="dashboard-container">
  <app-slidebar></app-slidebar>
  <div class="dashboard-content">
    <header>
      <h1>Gestión de pacientes</h1>
      <button class="add-history">+ Nueva historia</button>
    </header>

    <div class="patient-data-container">
      <div class="patient-info" *ngIf="paciente">
        <img src="./../../../assets/images/Chatbot.png" alt="paciente" />
        <div class="info">
          <h3 class="data-patient-name">
            {{ paciente.nombre }} {{ paciente.apellido }}
          </h3>
          <p class="data-patient">CI: {{ paciente.cedula }}</p>
          <p class="data-patient">Contacto: {{ paciente.telefono || "N/A" }}</p>
          <p class="data-patient">Correo: {{ paciente.email }}</p>
        </div>
      </div>

      <div class="glucose-chart">
        <canvas id="glucoseChart"></canvas>
      </div>
    </div>

    <div class="history-container" *ngIf="consultationRecords.length > 0">
      <h2 class="Subtitulo">Historial Clínico</h2>
      <table class="history-table">
        <thead>
          <tr>
            <th>Fecha de consulta</th>
            <th>Médico</th>
            <th>Motivo de consulta</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of consultationRecords">
            <td>{{ record.fecha | date : "dd/MM/yyyy" }}</td>
            <td>Doctor: {{ getDoctorName(record.medicoCedula) | async }}</td>
            <td>{{ record.descripcion }}</td>
            <td>
              <button class="view-btn" (click)="verHistoria(record.pdfUrl)">
                Ver historial
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
