<div class="dashboard">
  <app-slidebar></app-slidebar>
  <div class="content">
    <header>
      <h1>Gestión de pacientes</h1>
      <div class="search-bar">
        <input
          type="text"
          placeholder="Buscar paciente (Cédula, nombres ...)"
        />
        <button class="search-button">Buscar</button>
      </div>
      <button class="add-patient">+ Nuevo paciente</button>
    </header>
    <table>
      <thead>
        <tr>
          <th class="title-column">Cédula</th>
          <th class="title-column">Nombres</th>
          <th class="title-column">Apellidos</th>
          <th class="title-column">Teléfono</th>
          <th class="title-column">Fecha de Evaluación</th>
          <th class="title-column">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of listaPacientes">
          <td class="data-patient">{{ paciente.cedula }}</td>
          <td class="data-patient">{{ paciente.nombres }}</td>
          <td class="data-patient">{{ paciente.apellidos }}</td>
          <td class="data-patient">{{ paciente.telefono }}</td>
          <td class="data-patient">{{ paciente.fechaEvaluacion }}</td>
          <td>
            <div class="actions">
              <button class="button-standar">Ver más</button>
            <button class="delete-action"><i class="fa-solid fa-trash-can"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
