<div class="dashboard">
  <app-slidebar></app-slidebar>
  <div class="content">
    <header>
      <h1>Gestión de pacientes</h1>
      <div class="search-bar">
        <input
          type="text"
          placeholder="Buscar paciente (Cédula, nombres ...)"
        />
        <button class="search-button">Buscar</button>
      </div>
      <button class="add-patient" (click)="toggleFormulario()">
        + Nuevo paciente
      </button>
    </header>

    <!-- dashboard-principal.component.html -->
    <div *ngIf="mostrarFormulario" class="modal-overlay">
      <form (ngSubmit)="guardarPaciente()" class="patient-form">
        <div class="form-grid">
          <div class="form-group">
            <label for="nombre" class="form-label">Nombres y Apellidos</label>
            <input
              id="nombre"
              type="text"
              class="form-input"
              [(ngModel)]="nuevoPaciente.nombre"
              name="nombre"
              required
            />
          </div>
          <div class="form-group">
            <label for="cedula" class="form-label">Cédula</label>
            <input
              id="cedula"
              type="text"
              class="form-input"
              [(ngModel)]="nuevoPaciente.cedula"
              name="cedula"
              required
            />
          </div>
          <div class="form-group">
            <label for="telefono" class="form-label">Teléfono</label>
            <input
              id="telefono"
              type="tel"
              class="form-input"
              [(ngModel)]="nuevoPaciente.telefono"
              name="telefono"
              required
            />
          </div>
          <div class="form-group">
            <label for="email" class="form-label">Correo electrónico</label>
            <input
              id="email"
              type="email"
              class="form-input"
              [(ngModel)]="nuevoPaciente.email"
              name="email"
              required
            />
          </div>
          <div class="form-group">
            <label for="password" class="form-label">Contraseña</label>
            <input
              id="password"
              type="password"
              class="form-input"
              [(ngModel)]="nuevoPaciente.password"
              name="password"
              required
            />
          </div>
        </div>
        <div class="modal-actions">
          <button type="submit" class="save-button" [disabled]="!formIsValid()">
            GUARDAR
          </button>
          <button
            type="button"
            class="cancel-button"
            (click)="cancelarFormulario()"
          >
            CANCELAR
          </button>
        </div>
      </form>
    </div>
    <table>
      <thead>
        <tr>
          <th class="title-column">Cédula</th>
          <th class="title-column">Nombres</th>
          <th class="title-column">Apellidos</th>
          <th class="title-column">Teléfono</th>
          <th class="title-column">Fecha de Evaluación</th>
          <th class="title-column">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of listaPacientes">
          <td class="data-patient">{{ paciente.cedula }}</td>
          <td class="data-patient">{{ paciente.nombre }}</td>
          <td class="data-patient">{{ paciente.nombre }}</td>
          <td class="data-patient">{{ paciente.telefono || "N/A" }}</td>
          <td class="data-patient">
            {{ getUltimaFechaEvaluacion(paciente) }}
          </td>
          <td>
            <div class="actions">
              <button
              [routerLink]="['/perfil-paciente', paciente.id]" class="button-standar"> Ver más </button>
              <button
                class="delete-action"
                (click)="deletePatient(paciente.id)"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
