.dashboard {
    display: flex;
    height: 100vh;

  }
  .data-patient{
    font: var(--text-style);
  }
  .content {
    flex: 1;
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .content h1 {
    font: var(--title-style);
  }
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search-bar button {
    background: var(--light-blue-principal);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table tr:hover {
    background: #f9f9f9;
  }
  
  .add-patient {
    background: var(--light-blue-principal);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .title-column{
    font: var(--colum-title-style);
  }
  
  .delete {
    background: none;
    border: none;
    color: #f44336;
    cursor: pointer;
  }
  
  .button-standar{
    background: var(--light-blue-principal);
  }

  .button-standar:hover{
    background: var(--light-blue-principal-hover);
  }

  .actions{
    display: flex;
    padding: 5px;
    align-items: center;
  }

  .delete-action{
    background: none;
    border: none;
    font-size: 25px;
    margin-left: 20px;
    color: var(--delete-color);
  }