body {
    margin: 0;
  }
  /*SLIDEBAR STYLE*/
  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: var(--light-blue-principal); /* Color azul claro */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
  }
  
  .sidebar .logo {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    font: var(--subtitle-style);
    border-bottom: 1px solid white;
  }

  .sidebar .logo img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  .sidebar .logo h2 {
    font-size: 20px;
    margin: 0;
  }
  
  .sidebar .menu {
    list-style: none;
    padding: 0;
    margin-top: -200px;
  }

  .tittle-menu{
    font: var(--colum-title-style);
    font-size: 30px;
    margin: 0px 0px 0px 25px;
  }
  
  .sidebar .menu li {
    margin: 15px 0px 10px 10px;
    display: flex;
    align-items: center;
  }
  
  .sidebar .menu li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    display: block;
    border-radius: 15px;
    transition: background-color 0.3s;
    font: var(--text-style);
  }

  .sidebar .menu li a i {
    margin: 0px 15px 0px 0px;
    font-size: 20px;
  }
  
  .sidebar .menu li a:hover {
    background-color: white; /* Color azul oscuro */
    color: var(--light-blue-principal);
  }
  
  .sidebar .profile {
    padding: 20px;
    border-top: 1px solid white;
    display: flex;
    align-items: start;
    flex-direction: column;
    font: var(--text-style);
  }

  .sidebar .profile .dat-profile {
    display: flex;
    flex-direction: row;
  }
  
  .sidebar .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .sidebar .profile div p {
    margin: 0;
    font-size: 14px;
  }
  
  .sidebar .logout-btn {
    background-color: white;
    color: var(--light-blue-principal);
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font: var(--text-button-style);
  }
  
  .sidebar .logout-btn:hover {
    background-color: #f2f2f2;
  }
  