<div class="sidebar">
    <div class="logo">
      <img src="assets/images/Chatbot.png" alt="Logo SAMI" />
      <h2>SAMI</h2>
    </div>
    <ul class="menu">
      <h2 class="tittle-menu"> Menú</h2>
      <li><a href="#gestion"><i class="fa-regular fa-address-book"></i>Gestión de pacientes</a></li>
      <li><a href="#citas"> <i class="fa-regular fa-calendar"></i>Citas médicas</a></li>
    </ul>
    <div class="profile">
      <h3>Perfil</h3>
      <div class="dat-profile">
        <img src="user-profile.jpg" alt="Foto de perfil" />
      <div>
        <p>Carolina Alvarado</p>
        <p>dexample.com</p>
      </div>
      </div>
      <button (click)="logout()" class="logout-btn"> <i class="fa-solid fa-right-from-bracket"></i> Salir</button>
    </div>
  </div>

