<div class="dashboard">
  <app-slidebar></app-slidebar>
  <div class="content">
    <header>
      <h1>Gestión de pacientes</h1>
      <button class="add-history">+ Nueva historia</button>
    </header>
    <div class="consultation-container">
      <section class="consultation-details">
        <h2 class="section-title">DETALLES DE LA CONSULTA</h2>
        <div class="consultation-date">20-Sep-2024, 09:00 AM</div>

        <h3 class="consultation-diagnosis">
          EDEMA DE MIEMBRO INFERIOR IZQUIERDO
        </h3>

        <div class="medical-info">
          <div class="info-section">
            <h4 class="info-title">Enfermedad o problema actual</h4>
            <p>
              PACIENTE REFIERE DESDE HACE UNA SEMANA DOLOR Y EDEMA A NIVEL DE
              MIEMBRO INFERIOR IZQUIERDO
            </p>
          </div>

          <div class="info-section">
            <h4 class="info-title">Exámen físico</h4>
            <p>
              PULSOS ARTERIALES PRESENTES SE EVIDENCIA PRESENCIA DE EDEMA A
              NIVEL PERIMALEOLAR DERECHO
            </p>
          </div>

          <div class="info-section">
            <h4 class="info-title">Diagnóstico</h4>
            <p>INSUFICIENCIA VENOSA (CRONICA)</p>
            <p class="diagnosis-code">(PERIFERICA) (I872)</p>
          </div>
        </div>
      </section>

      <aside class="prescription">
        <h2 class="section-title">RECETA</h2>
        <!-- Contenido de la receta irá aquí -->
      </aside>
    </div>
  </div>
</div>
