:root {
    /* variables de colores */
    --light-blue-principal: #5DABF5;
    --light-blue-principal-hover: #0468c6;
    --second-elements-color: #F0F4FF;
    --second-text: #D1E0FF;
    --background-color: #857E8E;
    --titles-color: #4B4B4B;
    --text-color: #000000;
    --delete-color: #cb1b1b;
    --green-button-color: #81DA7E;

    /* variables de tipografia */
    --title-style: 700 40px Roboto, sans-serif;
    --subtitle-style: 500 32px Roboto, sans-serif;
    --colum-title-style: 700 14px Roboto, sans-serif;
    --text-button-style: 700 12px Roboto, sans-serif;
    --text-style: 400 14px Roboto, sans-serif;
  }
/* Elimina márgenes y rellenos del body y el contenedor raíz */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* Configura un estilo base para que la página ocupe toda la pantalla */
#root, app-root {
  width: 100%;
  height: 100%;
}

.button-standar {
  color: white;
  font: var(--text-button-style);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
}

app-slidebar {
  overflow-y: hidden; /* Previene el scroll en la barra lateral */
  height: 100vh;
}

