.container {
    margin: 0px;
    display: flex;
    flex-direction: column;
  }

  .container h1{
    font: var(--title-style);
    color: var(--titles-color);
    margin: 20px;
  }

  .dashboard{
    display: flex;
    flex-direction: row;
  }
  
  